*, *:before, *:after {
  box-sizing: inherit;
}

.ourteam{
  margin-top: 3%;
  text-align:center;
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}
.column {
  float: left;
  width: 33.2%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row-1{
  justify-content: space-around;
    align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #829f99;
  color: white;
}

.container::after, .row-1::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}