.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1877px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .group {
    position: relative;
    width: 1245px;
    height: 999px;
    margin: 60px 0 0 108px;
    overflow: hidden;
  }
  .wrapper {
    position: absolute;
    width: 326px;
    height: 630.073px;
    top: -20.949px;
    left: 1.098px;
    z-index: 64;
  }
  .pic {
    position: relative;
    width: 326px;
    height: 461px;
    margin: 0 0 0 0;
    background-size: 100% 100%;
    z-index: 68;
  }
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 326px;
    height: 150.073px;
    margin: 19px 0 0 0;
    z-index: 67;
  }
  .pic-1 {
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 150.073px;
    background-size: cover;
    border: 1px solid #000000;
    z-index: 67;
  }
  .pic-2 {
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 150.073px;
    background-size: cover;
    z-index: 66;
  }
  .pic-3 {
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 150.073px;
    background-size: cover;
    z-index: 65;
  }
  .wrapper-2 {
    position: absolute;
    width: 103.37%;
    height: 97.9%;
    top: -0.2%;
    left: 0.12%;
    font-size: 0px;
    z-index: 1;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 493px;
    height: 36px;
    margin: 0 0 0 403px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #223263;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    z-index: 63;
  }
  .wrapper-3 {
    position: relative;
    width: 315.81px;
    height: 18px;
    margin: 17px 0 0 425.19px;
    z-index: 59;
  }
  .text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 30.02%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #c1c8ce;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 60;
  }
  .text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 64.85%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #33a0ff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 61;
  }
  .img-2 {
    position: absolute;
    width: 24.37%;
    height: 59.08%;
    top: 25.35%;
    left: 0;
    background: url(./assets/images/02c946a6-0d23-4e73-8edc-81fa1d49f307.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 62;
  }
  .pic-4 {
    position: relative;
    width: 499.488px;
    height: 2.127px;
    margin: 18.725px 0 0 425.19px;
    background: url(./assets/images/c2586d2b-aae7-43ab-b10f-76d9b7f7a3c7.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 58;
  }
  .wrapper-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 4px;
    position: relative;
    width: 123px;
    margin: 21.148px 0 0 428px;
    z-index: 56;
    overflow: hidden;
  }
  .text-4 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 32px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #009788;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    z-index: 57;
  }
  .group-2 {
    position: relative;
    width: 245px;
    height: 86.337px;
    margin: 17.663px 0 0 425px;
    z-index: 50;
  }
  .box {
    position: absolute;
    width: 60.82%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0px;
    z-index: 53;
  }
  .text-5 {
    display: block;
    position: relative;
    height: 18.077px;
    margin: 0 0 0 0.19px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.077px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
  }
  .text-6 {
    display: block;
    position: relative;
    height: 18.077px;
    margin: 15.95px 0 0 0.19px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.077px;
    text-align: left;
    white-space: nowrap;
    z-index: 52;
  }
  .text-7 {
    display: block;
    position: relative;
    height: 18px;
    margin: 16.234px 0 0 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
  }
  .box-2 {
    position: absolute;
    width: 39.18%;
    height: 60.23%;
    top: 0.39%;
    left: 60.82%;
    font-size: 0px;
    z-index: 55;
  }
  .text-8 {
    display: block;
    position: relative;
    height: 18px;
    margin: 0 0 0 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
  }
  .text-9 {
    display: block;
    position: relative;
    height: 18px;
    margin: 16px 0 0 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 55;
  }
  .pic-5 {
    position: relative;
    width: 499.488px;
    height: 2.127px;
    margin: 22.555px 0 0 425.19px;
    background: url(./assets/images/87f1d30c-060a-4190-bd93-e68cc3c7dff4.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 49;
  }
  .wrapper-5 {
    position: relative;
    width: 259.499px;
    height: 40.407px;
    margin: 21.267px 0 0 425px;
    z-index: 40;
  }
  .box-3 {
    position: absolute;
    width: 47.51%;
    height: 100%;
    top: 0;
    left: 52.49%;
    z-index: 42;
  }
  .pic-6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/7ad5fb3b-6c62-409f-a804-763481f4186e.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 43;
  }
  .text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 44.74%;
    top: 26.32%;
    left: 13.07%;
    font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #22262a;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.052px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
  }
  .pic-7 {
    position: absolute;
    width: 5.75%;
    height: 10.53%;
    top: 44.74%;
    left: 81.03%;
    background: url(./assets/images/53b573d8-d38f-449a-9fe8-1e9ee74071d0.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 45;
  }
  .text-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 47.02%;
    top: 25.25%;
    left: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
  }
  .img-4 {
    position: relative;
    width: 499.488px;
    height: 2.127px;
    margin: 21.267px 0 0 425.19px;
    background: url(./assets/images/06aa43cb-ccb8-4936-b9e9-2f81868b3ab1.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 39;
  }
  .pic-8 {
    position: relative;
    width: 499.488px;
    height: 2.127px;
    margin: 91.447px 0 0 425.19px;
    background: url(./assets/images/aaf7b70a-f01d-450f-a92e-1edee9599e3f.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 28;
  }
  .box-4 {
    position: relative;
    width: 499.488px;
    height: 48.913px;
    margin: 20.203px 0 0 425.19px;
    z-index: 17;
  }
  .section-2 {
    position: absolute;
    width: 48.94%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 18;
  }
  .wrapper-6 {
    position: relative;
    width: 199.429px;
    height: 18.413px;
    margin: 13.626px 0 0 21.381px;
    z-index: 20;
  }
  .text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 97.76%;
    top: 0;
    left: 10.24%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }
  .pic-9 {
    position: absolute;
    width: 4.07%;
    height: 87.38%;
    top: 12.62%;
    left: 0;
    background: url(./assets/images/ef509df8-2020-40fc-9772-34ce8fe542d4.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
  }
  .img-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/dc4f8a6a-d87f-4ca8-ae29-10b9c5d9e111.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
  }
  .wrapper-7 {
    position: absolute;
    width: 48.94%;
    height: 100%;
    top: 0%;
    left: 51.06%;
    z-index: 23;
  }
  .group-4 {
    position: relative;
    width: 191.421px;
    height: 18.685px;
    margin: 12.626px 0 0 27.332px;
    z-index: 25;
  }
  .text-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 96.33%;
    top: 0;
    left: 16.41%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .img-6 {
    position: absolute;
    width: 9.03%;
    height: 67.67%;
    top: 32.33%;
    left: 0;
    background: url(./assets/images/46612266-0c5c-4702-b11f-11fa8b2306c8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 27;
  }
  .pic-a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/89544187-5062-425f-9105-4b545db654ca.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 24;
  }
  .box-5 {
    position: relative;
    width: 1287px;
    height: 326px;
    margin: 82.712px 0 0 0;
    z-index: 2;
  }
  .img-7 {
    position: absolute;
    width: 96.5%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/3782aa12-9e6c-4e0e-acfc-2a5d59a88d38.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 3;
  }
  .wrapper-8 {
    position: absolute;
    width: 9.72%;
    height: 8.19%;
    top: 3.68%;
    left: 45.08%;
    z-index: 11;
  }
  .text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 78.68%;
    top: 0;
    left: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 75.7%;
    top: 24.3%;
    left: 69.13%;
    font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.488px;
    text-align: left;
    white-space: nowrap;
    opacity: 0.25;
    z-index: 13;
  }
  .box-6 {
    position: absolute;
    width: 19.65%;
    height: 14.42%;
    top: 3.68%;
    left: 0%;
    font-size: 0px;
    z-index: 14;
  }
  .text-11 {
    display: block;
    position: relative;
    height: 21px;
    margin: 0 0 0 27.547px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #2e90e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .pic-b {
    position: relative;
    width: 252.956px;
    height: 5px;
    margin: 21px 0 0 0;
    background: url(./assets/images/831fabb4-03ce-4108-9859-f128aaaf4f54.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 16;
  }
  .wrapper-9 {
    position: absolute;
    width: 9.72%;
    height: 8.19%;
    top: 4.29%;
    left: 27.55%;
    z-index: 8;
  }
  .text-12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 78.68%;
    top: 0;
    left: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 75.7%;
    top: 24.3%;
    left: 69.13%;
    font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.488px;
    text-align: left;
    white-space: nowrap;
    opacity: 0.25;
    z-index: 10;
  }
  .img-8 {
    position: absolute;
    width: 99.98%;
    height: 1.53%;
    top: 16.56%;
    left: 0.02%;
    background: url(./assets/images/7178a983-9b9f-450b-a9d2-41fa8dc08ded.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
  }
  .text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 1092.585px;
    height: 13.5%;
    top: 24.42%;
    left: 5.84%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #9098b1;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    letter-spacing: 0.5px;
    z-index: 4;
  }
  .text-15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 1092.585px;
    height: 13.5%;
    top: 49.26%;
    left: 5.67%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #9098b1;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    letter-spacing: 0.5px;
    z-index: 5;
  }
  .text-16 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 1092.585px;
    height: 13.5%;
    top: 73.5%;
    left: 5.67%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #9098b1;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    letter-spacing: 0.5px;
    z-index: 6;
  }
  .box-7 {
    position: absolute;
    width: 9.58%;
    height: 5%;
    top: 43.64%;
    left: 33.04%;
    z-index: 34;
  }
  .pic-c {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/6afc3fcf-5001-460c-be6b-dbf811ff4cc1.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 35;
  }
  .text-17 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 41.3%;
    top: 26.09%;
    left: 45.94%;
    font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.488px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
  }
  .img-9 {
    position: absolute;
    width: 6.9%;
    height: 17.39%;
    top: 41.3%;
    left: 78.45%;
    background: url(./assets/images/00aa50c3-b33c-4168-815c-03b6fb4b595a.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 37;
  }
  .pic-d {
    position: absolute;
    width: 6.9%;
    height: 4.35%;
    top: 47.83%;
    left: 14.66%;
    background: url(./assets/images/c3487161-b2c3-48bc-a28a-17d1e6f02dc8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 38;
  }
  .box-8 {
    position: absolute;
    width: 15.85%;
    height: 4.7%;
    top: 43.87%;
    left: 50.82%;
    z-index: 29;
  }
  .section-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .pic-e {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/1ae9f561-ea41-4c95-a566-25182c58b0b0.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 31;
  }
  .text-18 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45.65%;
    top: 29.35%;
    left: 24.75%;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #33a0ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .pic-f {
    position: absolute;
    width: 7.82%;
    height: 34.78%;
    top: 32.61%;
    left: 9.8%;
    background: url(./assets/images/493666e4-75ec-44be-8592-420f649e3039.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 32;
  }
  .text-19 {
    display: block;
    position: relative;
    height: 53px;
    margin: 26px 0 0 562.836px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #22262a;
    font-size: 35px;
    font-weight: 600;
    line-height: 52.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 70;
  }
  .group-5 {
    position: relative;
    width: 1302px;
    height: 512px;
    margin: 49.538px 0 0 69px;
    z-index: 95;
  }
  .pic-10 {
    position: absolute;
    width: 22.96%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/fbb983a4e87953d9626db95b4455faf8945dc6c7.png)
      no-repeat center;
    background-size: cover;
    z-index: 77;
  }
  .img-a {
    position: absolute;
    width: 22.96%;
    height: 100%;
    top: 0;
    left: 25.27%;
    background: url(./assets/images/c6064d6f565c052bfa8abec20c004e4a138ca6aa.png)
      no-repeat center;
    background-size: cover;
    z-index: 83;
  }
  .img-b {
    position: absolute;
    width: 22.73%;
    height: 99.8%;
    top: 0;
    left: 51.46%;
    background: url(./assets/images/9ff2b75bc1a03da3be98df1cf6913782d4babf50.png)
      no-repeat center;
    background-size: cover;
    z-index: 89;
  }
  .pic-11 {
    position: absolute;
    width: 22.96%;
    height: 99.61%;
    top: 0.2%;
    left: 77.04%;
    background: url(./assets/images/4bb491252d6844a6f941255ef0852a2f83ee1ca2.png)
      no-repeat center;
    background-size: cover;
    z-index: 95;
  }
  .section-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1226.331px;
    height: 54px;
    margin: 10px 0 0 106px;
    z-index: 92;
  }
  .text-1a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 219.331px;
    height: 54px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #223263;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    z-index: 74;
  }
  .text-1b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 219.331px;
    height: 54px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #223263;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    z-index: 80;
  }
  .text-1c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 219.331px;
    height: 54px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #223263;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    z-index: 86;
  }
  .text-1d {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 219.331px;
    height: 54px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #223263;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    z-index: 92;
  }
  .section-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1130.597px;
    height: 15.565px;
    margin: 6px 0 0 156px;
    z-index: 91;
  }
  .pic-12 {
    flex-shrink: 0;
    position: relative;
    width: 123.597px;
    height: 15.565px;
    background: url(./assets/images/af0b348e-d901-4734-9907-c45333e07ece.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 73;
  }
  .pic-13 {
    flex-shrink: 0;
    position: relative;
    width: 123.597px;
    height: 15.565px;
    background: url(./assets/images/a5efa6e6-b467-45db-b70e-48062dd7c955.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 79;
  }
  .img-c {
    flex-shrink: 0;
    position: relative;
    width: 123.597px;
    height: 15.565px;
    background: url(./assets/images/2490b8a9-9fa0-4100-a780-7013bdd6ee23.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 85;
  }
  .pic-14 {
    flex-shrink: 0;
    position: relative;
    width: 123.597px;
    height: 15.565px;
    background: url(./assets/images/7e9fbc48-16d3-43b0-ad72-bc455ea1093a.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 91;
  }
  .wrapper-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1130px;
    height: 32px;
    margin: 0.44px 0 0 157px;
    z-index: 93;
  }
  .wrapper-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 123px;
    z-index: 75;
    overflow: hidden;
  }
  .text-1e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 32px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #009788;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    z-index: 76;
  }
  .group-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 123px;
    z-index: 81;
    overflow: hidden;
  }
  .text-1f {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 32px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #009788;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    z-index: 82;
  }
  .group-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 123px;
    z-index: 87;
    overflow: hidden;
  }
  .text-20 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 32px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #009788;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    z-index: 88;
  }
  .wrapper-c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 123px;
    z-index: 93;
    overflow: hidden;
  }
  .text-21 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 32px;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #009788;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    z-index: 94;
  }
  