.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
}

.banner{
  width: 100%;
  /* height: 100%; */
}
.outstanding-products {
  display: block;
  position: relative;
  height: 54px;
  margin: 20px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #22262a;
  font-size: 35px;
  /* font-weight: 600;
  line-height: 52.5px; */
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.flex-row-a {
  position: relative;
  width: 100%;
  height: 658.781px;
  justify-content: space-between;
  z-index: 72;
}
.imgl-master {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 50px;
  background-size: cover;
  z-index: 65;
}
.img-master {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 300px;
  background-size: cover;
  z-index: 66;
}
.mgm-master {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 550px;
  background-size: cover;
  z-index: 67;
}
.mgl-master {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 1.172px;
  left: 800px;
  background-size: cover;
  z-index: 68;
}
.text-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 50px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 56;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 300px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 57;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 550px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 54;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 800px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 71;
}
.frame-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 100px;
  z-index: 63;
  overflow: hidden;
}
.text-6 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 64;
}
.frame-b{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 350px;
  z-index: 58;
  overflow: hidden;
}
.text-7 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 59;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 600px;
  z-index: 55;
  overflow: hidden;
}
.text-8 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 56;
}
.frame-d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 850px;
  z-index: 72;
  overflow: hidden;
}
.text-9 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 73;
}
.flex-row-b {
  position: relative;
  width: 100%;
  height: 658.781px;
  justify-content: space-between;
  z-index: 123;
}
.mgl-master-c {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 50px;
  background-size: cover;
  z-index: 120;
}
.mgm-master-d {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 300px;
  background-size: cover;
  z-index: 121;
}
.mgm-master-e {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 550px;
  background-size: cover;
  z-index: 122;
}
.mgl-master-f {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 1.172px;
  left: 800px;
  background-size: cover;
  z-index: 123;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 50px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 102;
}
.text-b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 300px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 107;
}
.text-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 550px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 112;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 800px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 117;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 100px;
  z-index: 103;
  overflow: hidden;
}
.vnd-14 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 104;
}
.frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 350px;
  z-index: 108;
  overflow: hidden;
}
.vnd-16 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 109;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 600px;
  z-index: 113;
  overflow: hidden;
}
.vnd-18 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 114;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 850px;
  z-index: 118;
  overflow: hidden;
}
.vnd-1a {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 119;
}
/* .removebg-preview {
  position: absolute;
  width: 800px;
  height: 817.257px;
  top: 0;
  left: 920px;
  background-size: cover;
  z-index: 26;
} */
.service {
  display: block;
  position: relative;
  height: 54px;
  margin: 20px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #22262a;
  font-size: 35px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.flex-row-cd {
  position: relative;
  width: 977.126px;
  height: 91.302px;
  /* margin: 10px 0 0 238.704px; */
  justify-content: space-between;
  z-index: 36;
}
.refund {
  position: absolute;
  width: 7.04%;
  height: 87.99%;
  top: 0;
  left: 48.05%;
  background-size: 100% 100%;
  z-index: 30;
}
.support {
  position: absolute;
  width: 6.93%;
  height: 100%;
  top: 0;
  left: 93.07%;
  background-size: 100% 100%;
  z-index: 33;
}
.shipping {
  position: absolute;
  width: 10.31%;
  height: 74.14%;
  top: 9.79%;
  left: 0;
  background-size: 100% 100%;
  z-index: 36;
}
.flex-row-bf {
  position: relative;
  width: 1147.226px;
  height: 48px;
  margin: 34.698px 0 0 141px;
  z-index: 35;
}
.free-shipping {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 89.58%;
  top: 0;
  left: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: 40.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.support-24-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 88.83%;
  top: 0.27%;
  left: 83.42%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: 40.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.refund-100 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 87.5%;
  top: 12.5%;
  left: 42.89%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: 40.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.flex-row-d-1e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1101.765px;
  height: 98.989px;
  margin: 13px 0 0 193px;
  z-index: 43;
}
.lorem-ipsum-printing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 197.555px;
  height: 98.989px;
  font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: center;
  z-index: 41;
}
.lorem-ipsum-printing-1f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 197.555px;
  height: 98.989px;
  font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: center;
  z-index: 42;
}
.lorem-ipsum-printing-20 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 197.555px;
  height: 98.989px;
  font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: center;
  z-index: 43;
}
.selling-products {
  display: block;
  position: relative;
  height: 54px;
  margin: 20px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #22262a;
  font-size: 35px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.flex-row-c {
  position: relative;
  width: 100%;
  height: 658.781px;
  z-index: 98;
}
.imgl-master-21 {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 50px;
  background-size: cover;
  z-index: 95;
}
.img-master-22 {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 300px;
  background-size: cover;
  z-index: 96;
}
.mgm-master-23 {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 0.17px;
  left: 550px;
  background-size: cover;
  z-index: 97;
}
.mgl-master-24 {
  position: absolute;
  width: 20%;
  height: 80%;
  top: 1.172px;
  left: 800px;
  background-size: cover;
  z-index: 98;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 50px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 77;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 300px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 82;
}
.text-g {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 550px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 87;
}
.text-h {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 20%;
  height: 54px;
  top: 450px;
  left: 800px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #223263;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 92;
}
.frame-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 100px;
  z-index: 78;
  overflow: hidden;
}
.text-21 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 79;
}
.frame-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 350px;
  z-index: 83;
  overflow: hidden;
}
.text-22 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 84;
}
.frame-2f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 600px;
  z-index: 88;
  overflow: hidden;
}
.text-23 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 89;
}
.frame-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 20%;
  height: 32px;
  top: 520px;
  left: 850px;
  z-index: 93;
  overflow: hidden;
}
.text-24 {
  justify-content: center;
  width: 20%;
  height: 32px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #009788;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 94;
}
.base {
  position: relative;
  width: 189px;
  height: 56px;
  margin: 37px 0 0 1178px;
  z-index: 125;
}
.text-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39.29%;
  top: 28.57%;
  left: 40.56%;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: left;
  white-space: nowrap;
  z-index: 129;
}
.text-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39.29%;
  top: 28.57%;
  left: 40.56%;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: left;
  white-space: nowrap;
  z-index: 126;
}
.text-27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39.29%;
  top: 28.57%;
  left: 64.53%;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}