.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
}

.banner{
  width: 100%;
  /* height: 100%; */
}
.outstanding-products {
  display: block;
  position: relative;
  height: 54px;
  margin: 25px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #22262a;
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  text-align: center;
  white-space: nowrap;
}
.row-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  
}
.item-product {
  flex-basis: calc(22%);
  background-color: white;
  margin:10px;
  /* border-radius: 12px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3)
  ; */
  cursor: pointer;
  transition: transform 0.5s;
}
.item-product > div{
   padding:  0 8px 10px 8px;
}
.item-product:hover{
  transform: translateY(-10px);
}

.img-product{
  border-radius: 12px;
  width: 100%;
  height: 95%;
}

@media only screen and (max-width: 769px)  {
  .row-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item-product {
    flex-basis: calc(40%);
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:439px) {
  .row-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item-product {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
.price{
  display: flex;
}
.price i{
  color: orangered;
}
.price i p{
  color:black
}
.price-count{
  margin:12px 0;
  font-size: 16px;
}
.name-product{
  margin:12px 0;
}
.service {
  display: block;
  position: relative;
  height: 54px;
  font-family: Arial, Helvetica, sans-serif;
  color: #22262a;
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  text-align: center;
  white-space: nowrap;
}
.flex-row-cd {
  position: relative;
  width: 60%;
  height: 91.302px;
  margin: 5% 20% 1% 20%;
  justify-content: space-between;
}
.shipping {
  position: absolute;
  width: 10.31%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
.refund {
  position: absolute;
  width: 7.04%;
  height: 100%;
  top: 0;
  left: 48.05%;
  background-size: 100% 100%;
}
.support {
  position: absolute;
  width: 6.93%;
  height: 100%;
  top: 0;
  left: 93.07%;
  background-size: 100% 100%;
}
.flex-row-bf {
  position: relative;
  width: 60%;
  height: 48px;
  margin: 0% 15% 1% 15%;
  justify-content: space-between;
}
.free-shipping {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 89.58%;
  left: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: 40.5px;
  text-align: left;
  white-space: nowrap;
}
.refund-100 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 87.5%;
  left: 50%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: 40.5px;
  text-align: left;
  white-space: nowrap;
}
.support-24-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 88.83%;
  left: 97%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: 40.5px;
  text-align: left;
  white-space: nowrap;
}
.flex-row-d-1e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 60%;
  height: 98.989px;
  margin: 0% 15% 1% 15%;
}
.lorem-ipsum-printing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 197.555px;
  height: 98.989px;
  left: 0;
  left: 3%;
  font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: center;
}
.lorem-ipsum-printing-1f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 197.555px;
  height: 98.989px;
  left: 9%;
  font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: center;
}
.lorem-ipsum-printing-20 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 197.555px;
  height: 98.989px;
  left: 13%;
  font-family: Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #22262a;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.924px;
  text-align: center;
}
.selling-products {
  display: block;
  position: relative;
  height: 54px;
  margin: 25px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #22262a;
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  text-align: center;
  white-space: nowrap;
}