:root {
    --neutraldark: rgba(34, 50, 99, 1);
    --neutralgrey: rgba(144, 152, 177, 1);
    --black-fonts-headings: rgba(45, 46, 46, 1);
    --dark-green-buttons: rgba(58, 79, 57, 1);
    --primaryred: rgba(251, 113, 129, 1);
    --backgroundwhite: rgba(255, 255, 255, 1);
    --light-grey-input-fiels-forms: rgba(246, 246, 246, 1);
    --white-background: rgba(255, 255, 255, 1);
    --grey-input-text: rgba(171, 171, 171, 1);
    --green: rgba(183, 214, 182, 1);
    --body-text-normalregular-font-family: "Poppins-Regular", Helvetica;
    --body-text-normalregular-font-weight: 400;
    --body-text-normalregular-font-size: 12px;
    --body-text-normalregular-letter-spacing: 0.5px;
    --body-text-normalregular-line-height: 179.99999523162842%;
    --body-text-normalregular-font-style: normal;
    --menu-title-font-family: "Inter-SemiBold", Helvetica;
    --menu-title-font-weight: 600;
    --menu-title-font-size: 32px;
    --menu-title-letter-spacing: 0px;
    --menu-title-line-height: normal;
    --menu-title-font-style: normal;
    --text-font-family: "Inter-Regular", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 16px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
    --button-font-family: "Inter-Medium", Helvetica;
    --button-font-weight: 500;
    --button-font-size: 18px;
    --button-letter-spacing: 0px;
    --button-line-height: normal;
    --button-font-style: normal;
    --text-b-font-family: "Inter-SemiBold", Helvetica;
    --text-b-font-weight: 600;
    --text-b-font-size: 16px;
    --text-b-letter-spacing: 0px;
    --text-b-line-height: normal;
    --text-b-font-style: normal;
    --caption-normalbold-font-family: "Poppins-Bold", Helvetica;
    --caption-normalbold-font-weight: 700;
    --caption-normalbold-font-size: 10px;
    --caption-normalbold-letter-spacing: 0.5px;
    --caption-normalbold-line-height: 150%;
    --caption-normalbold-font-style: normal;
  }
  